<!doctype html>
<html dir="ltr" lang="en" xml:lang="en" class="no-js">

<head>

  {{> headContents title='HP - Security' }}

  <!-- CSS BLOCK -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{cssFiles.virtualPath}}{{cssFiles.fileName}}" media="screen" />

  <!-- END CSS BLOCK -->
</head>

<body>
  {{> bodyContentsStart }}

  <!-- CONTENT FOR TRIDION CODE BLOCK -->
  <div id="copy" class="clearfix">

    <div id="section-title" class="section breakout title">
      <div class="content">
        <div class="content-left">
          <h1>##section-static-title##</h1>
        </div>
        <div class="content-right">
          <div class="contactUsContainer">
            <a onclick="this.rel='nofollow';" target="_top" href="javascript:void(0);" class="criticalButton dropBack" style="width: 108px;" id="dropTrigger">Buy now</a>
            <div class="dropExpand hideMe" id="dropTarget">
              <a href="http://store.hp.com/us/en/SearchDisplay?client=&searchTerm=securityenterpriseprinters&search=%EF%80%A1&beginIndex=0&catalogId=10051&charset=utf-8&langId=-1&pageSize=50&pageView=grid&resultCatEntryType=2&sType=SimpleSearch&searchSource=Q&storeId=10151&facet=ads_f28501_ntk_cs%3A%22Printers%22&jumpid=cp_r163_us/en/ips/secure_printing/entlaserjet/buynow"
              target="blank" title="Opens in a new window">HP Store</a>
              <a href="http://government.hp.com/products.aspx?tab=2" target="blank" title="Opens in a new window">Public Sector</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-main" class="section breakout hero">
      <div class="container parallax-tracking">
        <div class="container-background">
          <div class="overlay-text">##hero-overlay-text##</div>
        </div>
        <div class="container-content">
          <h2>##hero-main-headline##</h2>
          <p>##hero-main-body##</p>
        </div>
      </div>
    </div>
    <div class="section hero-spacer"></div>

    <div id="section-videos" class="section breakout secondary">
      <div class="content">
        <h2>##section-videos-headline##</h2>
        <div class="container-content content-left">
          <div class="video-preview">
            <a href="#video-1" class="modal video media-desktop media-tablet" data-width="800" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:video1'});}catch(e){}">
              <img src="{{documentImages.virtualPath}}video-preview-1.jpg" alt="Watch HP Printer Document Security Video" />
            </a>
            <a href="#" class="video-mobile media-mobile" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:video1'});}catch(e){}">
              <div class="video-container-poster">
                <span>
                  <img src="{{documentImages.virtualPath}}video-preview-1.jpg" alt="Watch HP Printer Document Security Video" />
                </span>
              </div>
              <div class="video-container">
                <object id='myExperience2295369078001' class='BrightcoveExperience'>
                  <param name='htmlFallback' value='true' />
                  <param name='bgcolor' value='#FFFFFF' />
                  <param name="width" value="288" />
                  <param name="height" value="162" />
                  <param name='playerID' value='1398061528001' />
                  <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFS1JDH4sXBr321h_Qx_T6fY' />
                  <param name='isVid' value='true' />
                  <param name='isUI' value='true' />
                  <param name='dynamicStreaming' value='true' />
                  <param name='htmlFallback' value='true' />
                  <param name='@videoPlayer' value='ref:2D3479B8-5142-4089-900A-1014C8B28E44' />
                  <param name='autoStart' value='true' />
                </object>
              </div>
            </a>
            <div class="timecode">1:10</div>
          </div>
          <p>##section-videos-video1-description##</p>
        </div>

        <div class="container-content content-right">
          <div class="video-preview">
            <a href="#video-2" class="modal video media-desktop media-tablet" data-width="800" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:video2'});}catch(e){}">
              <img src="{{documentImages.virtualPath}}video-preview-2.jpg" alt="New HP LaserJet 500 Series JetIntelligence Video" />
            </a>
            <a href="#" class="video-mobile media-mobile" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:video2'});}catch(e){}">
              <div class="video-container-poster">
                <span>
                  <img src="{{documentImages.virtualPath}}video-preview-2.jpg" alt="New HP LaserJet 500 Series JetIntelligence Video" />
                </span>
              </div>
              <div class="video-container">
                <object id='myExperience' class='BrightcoveExperience'>
                  <param name='htmlFallback' value='true' />
                  <param name='bgcolor' value='#FFFFFF' />
                  <param name="width" value="288" />
                  <param name="height" value="162" />
                  <param name='playerID' value='1200279800001' />
                  <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFQpSDPjqU_xAl3gpVHxKuvA' />
                  <param name='isVid' value='true' />
                  <param name='isUI' value='true' />
                  <param name='dynamicStreaming' value='true' />
                  <param name='htmlFallback' value='true' />
                  <param name='@videoPlayer' value='ref:ref4464620863001' />
                  <param name='autoStart' value='true' />
                </object>
              </div>
            </a>
            <div class="timecode">0:38</div>
          </div>
          <p>##section-videos-video2-description##</p>
        </div>
      </div>
    </div>

    <div id="video-1" class="modal video">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div style="text-align: center; margin-top: 18px;">
          <object id='myExperience01' class='BrightcoveExperience'>
            <param name='htmlFallback' value='true' />
            <param name='bgcolor' value='#FFFFFF' />
            <param name='height' value='400' />
            <param name='width' value='711' />
            <param name='playerID' value='1200279792001' />
            <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFT02TLHLFuOXpbXo3TE3V93' />
            <param name='isVid' value='true' />
            <param name='isUI' value='true' />
            <param name='dynamicStreaming' value='true' />
            <param name='htmlFallback' value='true' />
            <param name='@videoPlayer' value='ref:2D3479B8-5142-4089-900A-1014C8B28E44' />
            <param name='autoStart' value='true' />
          </object>
        </div>
      </div>
    </div>
    <div id="video-2" class="modal video">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div style="text-align: center; margin-top: 18px;">
          <object id='myExperience02' class='BrightcoveExperience'>
            <param name='htmlFallback' value='true' />
            <param name='bgcolor' value='#FFFFFF' />
            <param name='height' value='400' />
            <param name='width' value='711' />
            <param name='playerID' value='1200279792001' />
            <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFT02TLHLFuOXpbXo3TE3V93' />
            <param name='isVid' value='true' />
            <param name='isUI' value='true' />
            <param name='dynamicStreaming' value='true' />
            <param name='htmlFallback' value='true' />
            <param name='@videoPlayer' value='ref:ref4464620863001' />
            <param name='autoStart' value='true' />
          </object>
        </div>
      </div>
    </div>


    <div id="section-features-security" class="section breakout secondary">
      <div class="content">
        <h2>##section-features-security-headline##</h2>
      </div>
    </div>
    <div id="section-features-security-list" class="section breakout secondary">
      <div class="content">
        <div class="container-content content-left">
          <div class="feature-item">
            <h5>##section-features-security-item1-headline##</h5>
            <p>##section-features-security-item1-body##</p>
          </div>
          <div class="feature-item">
            <h5>##section-features-security-item2-headline##</h5>
            <p>##section-features-security-item2-body##</p>
          </div>
          <div class="feature-item">
            <h5>##section-features-security-item3-headline##</h5>
            <p>##section-features-security-item3-body##</p>
          </div>
          <div class="feature-item">
            <p>##section-features-security-item-footer##</p>
          </div>
        </div>
        <div class="container-content content-right">
          <div class="video-preview">
            <a href="#video-3" class="modal video media-desktop media-tablet" data-width="800" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:ji_video'});}catch(e){}">
              <img src="{{documentImages.virtualPath}}video-preview-3.jpg" alt="See how the new HP LaserJets with JetIntelligence delivers Printer Security Video" />
            </a>
            <a href="#" class="video-mobile media-mobile" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:ji_video'});}catch(e){}">
              <div class="video-container-poster">
                <span>
                  <img src="{{documentImages.virtualPath}}video-preview-3.jpg" alt="See how the new HP LaserJets with JetIntelligence delivers Printer Security Video" />
                </span>
              </div>
              <div class="video-container">
                <object id='myExperience03m' class='BrightcoveExperience'>
                  <param name='htmlFallback' value='true' />
                  <param name='bgcolor' value='#FFFFFF' />
                  <param name="width" value="288" />
                  <param name="height" value="162" />
                  <param name='playerID' value='1200279800001' />
                  <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFQpSDPjqU_xAl3gpVHxKuvA' />
                  <param name='isVid' value='true' />
                  <param name='isUI' value='true' />
                  <param name='dynamicStreaming' value='true' />
                  <param name='htmlFallback' value='true' />
                  <param name='@videoPlayer' value='ref:ref4464637302001' />
                  <param name='autoStart' value='true' />
                </object>
              </div>
            </a>
            <div class="timecode">0:52</div>
          </div>

          <h3>##section-features-security-list-video-headline##</h3>
          <!-- <p>##section-features-security-list-video-description##</p> -->
        </div>
      </div>
    </div>
    <div id="video-3" class="modal video">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div style="text-align: center; margin-top: 18px;">
          <object id='myExperience03' class='BrightcoveExperience'>
            <param name='htmlFallback' value='true' />
            <param name='bgcolor' value='#FFFFFF' />
            <param name='height' value='400' />
            <param name='width' value='711' />
            <param name='playerID' value='1200279792001' />
            <param name='playerKey' value='AQ~~,AAABDi-Jknk~,MQ6DpUeTiFT02TLHLFuOXpbXo3TE3V93' />
            <param name='isVid' value='true' />
            <param name='isUI' value='true' />
            <param name='dynamicStreaming' value='true' />
            <param name='htmlFallback' value='true' />
            <param name='@videoPlayer' value='ref:ref4464637302001' />
            <param name='autoStart' value='true' />
          </object>
        </div>
      </div>
    </div>


    <div id="section-jetadvantage" class="section breakout secondary">

      <div class="overlay-text">##section-jetadvantage-overlay-text##</div>
      <div class="content">
        <h2>##section-jetadvantage-headline##</h2>
        <h3>##section-jetadvantage-subhead##</h3>
        <div class="container-body">
          <h4>##section-jetadvantage-lede##</h4>
          <p>##section-jetadvantage-body##</p>
          <a href="http://www8.hp.com/us/en/solutions/business-solutions/printingsolutions/security_center.html" class="button secondary" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:ja_learnmore'});}catch(e){}" target="_blank">##section-jetadvantage-button##</a>
        </div>
        <div id="security-animation">
          <div class="label main">##security-animation-label-main##</div>
          <div>
            <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-full.png" alt="Learn more about HP Instant-On Security with HP JetAdvantage Security Manager" />
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-01.png" /> -->
            <div class="label sub-1">##security-animation-label-sub-1##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-02.png" /> -->
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-03.png" /> -->
            <div class="label sub-3">##security-animation-label-sub-3##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-04.png" /> -->
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-05.png" /> -->
            <div class="label sub-5">##security-animation-label-sub-5##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-06.png" /> -->
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-07.png" /> -->
            <div class="label sub-7">##security-animation-label-sub-7##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-08.png" /> -->
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-09.png" /> -->
            <div class="label sub-9">##security-animation-label-sub-9##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-10.png" /> -->
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-11.png" /> -->
            <div class="label sub-11">##security-animation-label-sub-11##</div>
          </div>
          <div>
            <!-- <img src="{{documentImages.virtualPath}}section-jetadvantage-animation-chart-12.png" /> -->
          </div>

        </div>
      </div>
    </div>

    <div id="section-report" class="section breakout secondary">
      <div class="content">
        <div class="content-body">
          <h2>##section-report-headline##</h2>
          <h3>##section-report-subhead##</h3>
          <a href="http://engage.hp.com/LP_482886_PPS-LES_AMS_EN-US_T2b_GeneralRedTiger_RegPage?src=hpcomRedTiger&aprimoActivityIDMostRecent=110006224" class="button secondary" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:redtiger_pdf'});}catch(e){}"
          target="_blank">##section-report-button##</a>
        </div>
      </div>
    </div>

    <div id="section-printers" class="section breakout secondary">
      <div class="content">
        <h2>##section-printers-headline##</h2>
        <p>##section-printers-subhead##</p>
      </div>
    </div>

    <div id="section-printers-list" class="section breakout secondary">
      <div class="content">

        <div class="hp-mzr-slider">
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-1.json' }}}
            </div>
          </div>
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-2.json' }}}
            </div>
          </div>
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-3.json' }}}
            </div>
          </div>
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-4.json' }}}
            </div>
          </div>
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-5.json' }}}
            </div>
          </div>
          <div class="content-item-wrapper">
            <div class="content-item">
              {{{mzr 'product-list-item' json-data='modules/product-list-item-6.json' }}}
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="section-printers-full" class="section breakout secondary">
      <div class="content">
        <h2>##section-printers-full-headline##</h2>
        <h3>##section-printers-full-subhead##</h3>
        <a href="http://www8.hp.com/us/en/ads/new-laserjets/overview.html" class="button secondary" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:discover_learnmore'});}catch(e){}" target="_blank">##section-printers-full-button##</a>
      </div>
    </div>

    <div id="section-resellers" class="section breakout secondary">
      <div class="content">
        <h2>##section-resellers-headline##</h2>
        <h3>##section-resellers-subhead##</h3>
      </div>
    </div>
    <div id="section-resellers-list" class="section breakout secondary">
      <div class="content">
        <a href="http://www.cdw.com/hpprinting" class="reseller-item cdw" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:cdw'});}catch(e){}" target="_blank">
          <img src="{{documentImages.virtualPath}}section-resellers-cdw.png" />
        </a>
        <a href="http://www.pcconnection.com/brand/hp/hp-jetadvantage" class="reseller-item pcc" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:pcc'});}catch(e){}" target="_blank">
          <img src="{{documentImages.virtualPath}}section-resellers-pcc.png" />
        </a>
        <a href="http://www.insight.com/en_US/buy/partner/hp/printers.html" class="reseller-item insight" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:insight'});}catch(e){}" target="_blank">
          <img src="{{documentImages.virtualPath}}section-resellers-insight.png" />
        </a>
        <a href="http://www.staples.com/sbd/cre/products/hp-jetintelligence/index.html" class="reseller-item staples" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:staples'});}catch(e){}" target="_blank">
          <img src="{{documentImages.virtualPath}}section-resellers-staples.png" />
        </a>
        <div class="reseller-item reseller-item-last">
          <p>##section-resellers-list-headline##</p>
          <a href="http://www8.hp.com/ie/en/store-finder/index.do" class="button secondary" onmousedown="try{trackMetrics('newLink',{name:'ipg:cmpgn:security:secureprinting:startnow'});}catch(e){}" target="_blank">##section-resellers-list-button##</a>
        </div>
      </div>
    </div>

    <div id="section-footnotes" class="section breakout secondary">
      <div class="content">
        <div class="footnote">##section-footnotes##</div>
      </div>
    </div>

  </div>

  <script>
    $(function() {
      $('.contactUsContainer').hover(function() {
        $('#dropTarget').css('display', 'block');
      }, function() {
        $('#dropTarget').css('display', 'none');
      });
    });
  </script>

  <!-- END CONTENT FOR TRIDION CODE BLOCK -->

  {{> bodyContentsEnd }}

  <!-- JS BLOCK -->

  <script src="{{jsFiles.virtualPath}}{{jsFiles.fileName}}"></script>

  <!-- END JS BLOCK -->
</body>

</html>
